
@{
    ViewBag.Title = "Register";
}

<h2>注册</h2>
@using (Html.BeginForm("Register", "Account",FormMethod.Post))
{
    <label>用户名：</label><input type = "text" name = "username"/><br/>
    <label>密 码：</label><input type="text" name="password"/>
    <input type="submit" value="注册"/>
}

